*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;        
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background-color: #F1F6F9;
}

nav {
    background-color: white;
    padding: .8em 5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

#left-nav li {
    padding-right: 2em;
}

#left-nav img {
    width: 48px;
}

.nav-option {
    color: #181823;
    font-weight: bolder;
}

.nav-option:hover {
    color: #ff4c34;
    transition: ease-in-out 0.314s;
    transition-delay: 0.0314s;
}


#parent-card-container {
    margin: 32px auto; 
    background-color: white; 
    width: 80%; 
    padding: 2em 3em;
    border-radius: .4em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    display: flex;
    flex-direction: row;
}

#first-section {
    max-inline-size: 76%;
}

#first-section p {
    text-align: justify;
}

#CTAs {
    display: flex;
    align-items: baseline;
    gap: 2em;
    margin-top: 48px;
}


button {
    color: white;
    background-color: #181823; 
    border-radius: .4em; 
    border: none; 
    padding: .8em 1.2em;
}

button:hover {
    background-color: #ff4c34;
    cursor: pointer;
    transition: ease-in-out 0.314s;
    transition-delay: 0.0314s;
}


#first-section a {
    text-decoration: none; 
    color: #181823
}

#second-section {
    display: flex; 
    justify-content: baseline; 
    margin-top: 48px; 
    gap: 2em;
}

i {
    color: #181823;
}

i:hover {
    color: #ff4c34;
    cursor: pointer;
    transition: ease-in-out 0.314s;
    transition-delay: 0.0314s;
}

#right-hand {
    width: 100%
}

#inner-card {
    width: 100%; 
    border-radius: .4em; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    padding-bottom: .5em;
    line-height: .5em;
}

#inner-card img {
    width: 320px; 
    height: 360px; 
    object-fit: cover;
    border-radius: .4em .4em 0 0;
}


.code{
    text-align: center;
    margin-top: 48px;
}



form {
    display: flex;
    flex-direction: column;
    margin: 32px auto;
    max-inline-size: 40%;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form div label {
    font-weight: 500;
    margin-bottom: 8px;
}

.mandatory-field::after {
    content: " *";
    color: red;
}

input, select, textarea {
    padding: 1em;
    border: none;
    border-radius: .4em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input, select, textarea:focus-visible {
    outline: none;
}

textarea {
    resize: none;
    height: 8em;
}

.submit-button {
    align-self: end;
    margin-top: 48px;
}
